
.circle {
    background-color:blue;
    border-radius:50%;
    width:50px;
    height:50px;
}

.user-info {
    border-bottom: solid grey 2px;
}

.card {
    
    background-color: rgb(255, 255, 255);
    font-family: 'Varela Round';
    width: 275px;
    /* height: auto; */
    min-height: 30%;
    max-height: 40%;
    padding: 20px 20px;
    margin: auto;
    border-radius :10px;
    box-shadow : 3px 3px 10px 1px rgb(1, 85, 81);
    /* position:absolute;
    top:60%;
    left:50%;
    transform : translate(-50%, -60%); */
}

.basic-info {
    display:flex;
    flex-direction: row;
    align-items:flex-end;
    margin-top : 15px;
}

.name {
    font-weight: 700;
    font-size: 1.7em;
    margin-right:10px;
}

.age {
    font-size: 1.4em;
    font-weight:500;
}

.location {
    display:flex;
    align-items:flex-end;
    margin-bottom:10px;
}

.location > #location-icon {
    margin-left:-5px;
    margin-right: 5px;
}

.demographics {
    margin-bottom: 10px;
}

@media screen and (max-width: 475px){
    .card {
        width:50%;
    }
    .name {
        font-size:1.25em;
    }

    .age {
        font-size:1.25em;
    }
    
    .description {
        font-size: 0.75em;
    }

}

@media screen and (max-height: 700px) {
    .name {
        font-size:1.2em;
    }

    .age {
        font-size:1.2em;
    }
    
    .description {
        font-size: 0.75em;
    }
}

.quote {
    font-style:italic;
    color:grey;
    font-size:0.9em;
    margin: 10px 0px;
}

.rating-container {
    margin-top:20px;
    display:flex;
    flex-direction : row;
    justify-content:space-around
}

#decline {
    filter : invert(18%) sepia(100%) saturate(7457%) hue-rotate(0deg) brightness(98%) contrast(112%);
}

#heart {
    filter : invert(60%) sepia(97%) saturate(2641%) hue-rotate(80deg) brightness(112%) contrast(133%);
}   

